// This file uses spacing to align, disable disalowing more than 1 space after colon.
/* stylelint-disable declaration-colon-space-after */

////
/// Breakpoint settings for Neat.
/// @group Defaults
/// @see Neats documentation
////

// Desktop first or mobile first
$default-feature: max-width !global;

// Breakpoints
$demi:   new-breakpoint(em(340px));
$short:  new-breakpoint(em(540px));
$tall:   new-breakpoint(em(760px));
$grande: new-breakpoint(em(940px));
$venti:  new-breakpoint(em(1024px));
$trenta: new-breakpoint(em(1140px));
