// Main colors
$color-primary: #bb173c;
$color-secondary: #bb173c;
$color-accent: #bb173c;

// Grey colors
$color-grey-x-light: #eee;
$color-grey-light: #bbb;
$color-grey-mid-light: #ccc;
$color-grey-base: #666;
$color-grey-mid-dark: #777;
$color-grey-dark: #333;
$color-grey-x-dark: #111;

// Set up some type colors
$body-color: $color-grey-dark;
$heading-color: $color-grey-dark;
$link-color: $color-primary;

// Set up palettes. Useful for looping over.
$palettes: (

  // Primary
  primary: (
    base: $color-primary,
  ),

  // Secondary
  secondary: (
    base: $color-secondary,
  ),

  // Accent
  accent: (
    base: $color-accent,
  ),

  // Grey
  grey: (
    x-light: $color-grey-x-light,
    light: $color-grey-light,
    mid-light: $color-grey-mid-light,
    base: $color-grey-base,
    mid-dark: $color-grey-mid-dark,
    dark: $color-grey-dark,
    x-dark: $color-grey-x-dark
  )
);
