////
/// Grid settings for Neat
/// @group Defaults
/// @see Neats documentation
////

/// Turn off Neats box-sizing
/// @type Bool
$border-box-sizing: false !global;

/// Column size
/// @type Number (Unit)
$column: em(70px) !global;

/// Gutter size
/// @type Number (Unit)
$gutter: em(35px) !global;

/// Amount of columns
/// @type Number
$grid-columns: 12 !global;

/// Max width of grid
/// @type Number (Unit)
$max-width: em(1220px) !global;
