/**
 * Base button styles.
 * 1. Corrects inability to style clickable `input` types in iOS.
 * 2. Normalize `box-sizing` across all elements that this component could be
 *    applied to.
 * 3. Normalize `line-height`. For `input`, it can't be changed from `normal` in Firefox 4+.
 * 4. Prevent button text from being selectable.
 * 5. Make sure `input` will wrap text across multiple lines.
 */

%btn-base {
  -webkit-appearance: none; /* 1 */
  box-sizing: border-box; /* 2 */
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  font: inherit;
  line-height: normal; /* 3 */
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  overflow: visible;
  user-select: none; /* 4 */
  white-space: normal; /* 5 */
  transition: background-color .3s ease-in-out;

  &:enter {
    text-decoration: none;
  }
}

.btn {
  @extend %btn-base;
  padding: spacing(half) spacing();
  color: #fff;
  border: $base-border-size solid $color-primary;
  background-color: $color-primary;
  border-radius: $base-border-radius;

  &:enter {
    color: #fff;
    background-color: tint($color-primary, 15%);
    border-color: tint($color-primary, 15%);
  }
}

.btn--large {
  @include font-size($lede-size, false);
  padding: spacing() spacing(double);
}

.btn--small {
  @include font-size($milli-size, false);
  padding: spacing(quarter) spacing(half);
}

.btn--outline {
  background: none;
  color: $color-primary;

  &:enter {
    background-color: $color-primary;
    border-color: $color-primary;
  }
}

.btn--fill {
  display: block;
  width: 100%;
}
