/// A Quick way of adding :hover, :active (optional) and :focus events.
/// Preferably, use the :enter psuedo class provided to PostCSS.
/// @param {boolean} $active [false] - If it is to include :active state
/// @example scss - SCSS
/// a {
///   @include enter {
///     color: red;
///   }
/// }
///
/// a {
///   @include enter(true) {
///     color: red;
///   }
/// }
/// @example css - Output
/// a:hover, a:active, a:focus {
///   color: red;
/// }
/// a:hover, a:active, a:focus {
///   color: red;
/// }
@mixin enter($active: false) {
  @if $actve {
    &:hover, &:active , &:focus { @content }
  } @else {
    &:hover, &:focus { @content }
  }
}
