/*! Copyright (c) 2016 Big Bite Creative | bigbitecreative.com | @bigbitecreative */
/* stylelint-disable declaration-colon-space-after */
/* stylelint-disable declaration-colon-space-after */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
 * As well as using normalize.css, it is often advantageous to
 * remove all margins from certain elements.
 */
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0; }

/**
 * Where `margin-bottom` is concerned, this value will be the same as the
 * base line-height. This allows us to keep a consistent vertical rhythm.
 */
h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dl,
blockquote, p, address,
table,
fieldset, figure,
pre {
  margin-bottom: 24px; }

/**
 * Where `margin-left` is concerned we want to try and indent certain elements
 * by a consistent amount. Define that amount once,here.
 */
ul, ol, dd {
  margin-left: 48px; }

/**
 * Apply box-sizing here, then inherit.
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
html {
  box-sizing: border-box;
  overflow-y: scroll;
  min-height: 100%; }

*, *::after, *::before {
  box-sizing: inherit; }

/**
 * Page level styles.
 *
 * 1. Use advanced typographic features included in some OpenType fonts. Only enable if
 *    font supports it.
 * 2. Prevent certain mobile browsers from automatically zooming fonts.
 * 3. Fonts on OSX will look more consistent with other systems that do not
 *    render text using sub-pixel anti-aliasing.
 */
body {
  font-size: 1rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #333;
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -moz-osx-font-smoothing: grayscale;
  /* 3 */
  -webkit-font-smoothing: antialiased;
  /* 3 */ }

/**
 * Container set up.
 */
.container {
  max-width: 76.25em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 24px; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

/**
 * Headings.
 */
h1, h2, h3, h4, h5, h6 {
  color: #333; }

h1, .alpha {
  font-size: 2.25rem;
  line-height: 1.33333; }

h2, .bravo {
  font-size: 2rem;
  line-height: 1.5; }

h3, .charlie {
  font-size: 1.75rem;
  line-height: 1.71429; }

h4, .delta {
  font-size: 1.5rem;
  line-height: 1; }

h5, .echo {
  font-size: 1.25rem;
  line-height: 1.2; }

h6, .foxtrot {
  font-size: 1rem;
  line-height: 1.5; }

/**
 * Lede.
 */
.lede {
  font-size: 1.25rem;
  line-height: 1.2; }

/**
 * Large type
 */
.giga {
  font-size: 3rem;
  line-height: 1; }

.mega {
  font-size: 2.75rem;
  line-height: 1.09091; }

.kilo {
  font-size: 2.5rem;
  line-height: 1.2; }

/**
 * Small type.
 */
small,
.milli {
  font-size: 0.875rem;
  line-height: 1.71429; }

.micro {
  font-size: 0.8125rem;
  line-height: 1.84615; }

a {
  text-decoration: none;
  color: #bb173c;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out; }

a:hover,
a:active {
  color: #9f1433; }

blockquote {
  border-left: 2px solid #bb173c;
  padding-left: 24px; }

blockquote cite {
  position: relative;
  display: block;
  padding-left: 24px;
  font-size: 0.875rem; }
  blockquote cite::before {
    content: "\2014 \2009";
    position: absolute;
    left: 0;
    top: 0; }

/**
 * Remove extra vertical spacing when nesting lists.
 */
li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Images responsive by default.
 *
 * 1. Fluid.
 * 2. Offset `alt` text from surrounding copy
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using `display: block;`.
 */
img {
  max-width: 100%;
  /* 1 */
  font-style: italic;
  /* 2 */
  vertical-align: middle;
  /* 3 */ }

/**
 * Styles for non-responsive images.
 *
 * 1. Respect if a `width` and/or `height` attribute have been explicitly defined.
 * 2. Fix Google Maps, doesn't like fluid images.
 */
img[width],
img[height],
.gm-style img {
  /* 2 */
  max-width: none; }

/**
 * Remove default figure marging and padding.
 */
figure {
  margin: 0;
  padding: 0; }

/**
 * Base button styles.
 * 1. Corrects inability to style clickable `input` types in iOS.
 * 2. Normalize `box-sizing` across all elements that this component could be
 *    applied to.
 * 3. Normalize `line-height`. For `input`, it can't be changed from `normal` in Firefox 4+.
 * 4. Prevent button text from being selectable.
 * 5. Make sure `input` will wrap text across multiple lines.
 */
.btn {
  -webkit-appearance: none;
  /* 1 */
  box-sizing: border-box;
  /* 2 */
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  font: inherit;
  line-height: normal;
  /* 3 */
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  overflow: visible;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* 4 */
  white-space: normal;
  /* 5 */
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out; }
  .btn:hover,.btn:focus {
    text-decoration: none; }

.btn {
  padding: 12px 24px;
  color: #fff;
  border: 2px solid #bb173c;
  background-color: #bb173c;
  border-radius: 4px; }
  .btn:hover,.btn:focus {
    color: #fff;
    background-color: #c53a59;
    border-color: #c53a59; }

.btn--large {
  font-size: 1.25rem;
  padding: 24px 48px; }

.btn--small {
  font-size: 0.875rem;
  padding: 6px 12px; }

.btn--outline {
  background: none;
  color: #bb173c; }
  .btn--outline:hover,.btn--outline:focus {
    background-color: #bb173c;
    border-color: #bb173c; }

.btn--fill {
  display: block;
  width: 100%; }

/**
 * Create an inline list.
 */

.list--inline {
  margin: 0;
  padding: 0;
  list-style: none; }


.list--inline li {
  display: inline; }

/**
 * Remvove all lists styles.
 */

.list--bare {
  margin-left: 0;
  padding-left: 0;
  list-style: none; }

/**
 * Media object.
 *
 * Extention modifiers:
 * - Flip             [flip]   Flips the figure to the opposite side
 * - Stack            [stack]  Stacks the figure on top of the text
 * - Wrap             [wrap]   Wraps the text around the figure
 * - Vertical align   [valign] Vertical aligns the figure with the text
 */
/**
 * Core media styles.
 */
.media {
  margin-bottom: 24px; }
  .media::after {
    clear: both;
    content: "";
    display: table; }

/**
 *  Media figure.
 *
 *  1. Accomodate if figure is wrapping div or img.
 */
.media-figure {
  float: left;
  margin-right: 24px; }

.media-figure,
.media-figure img {
  /* 1 */
  display: inline-block;
  vertical-align: bottom; }

/**
 * Media body.
 *
 * 1. Prevent text wrapping.
 * 2. Remove margin from last media object, and also the last element inside.
 */
.media-body {
  overflow: hidden;
  /* 1 */ }
  .media-body:last-child, .media-body > *:last-child {
    margin-bottom: 0;
    /* 2 */ }

/**
 * Media flipped.
 *
 * 1. Resetting the default right margin.
 */
.media--flip > .media-figure {
  float: right;
  margin-right: 0;
  /* 1 */
  margin-left: 24px; }

/**
 * Media stacked.
 */
.media--stack {
  text-align: center; }

.media--stack > .media-figure {
  float: none;
  width: 100%;
  margin-right: 0;
  margin-bottom: 24px; }

/**
 * Media wrap text around image.
 */
.media--wrap > .media-body {
  overflow: visible; }

/**
 * Media vertically aligned.
 *
 * 1. Because table-cell ignores margin.
 * 2. Centres media sizes image.
 */
.media--valign {
  display: table; }

.media--valign > .media-figure,
.media--valign > .media-body {
  display: table-cell;
  vertical-align: middle; }

.media--valign > .media-figure {
  float: none;
  margin: auto;
  /* 2 */
  padding-right: 24px;
  /* 1 */ }

.media--valign > .media-figure img {
  display: block;
  max-width: none; }

.media--valign > .media-body {
  width: 100%; }

.media--valign.media--flip {
  direction: rtl; }

.media--valign.media--flip .media-body {
  direction: ltr; }

.media--valign.media--flip .media-figure {
  padding-right: 0;
  padding-left: 24px; }

/**
 * Media figure sizes.
 * 1. Targets the figure img elem when using valign _and_ a size.
 * 2. Remove max width as the table (for vertical align) collapses using max-width.
 * 3. Force the image 100% width for vertical aligned. Image will be stretched if
 *    it's not large enough.
 */
.media--large > .media-figure {
  width: 180px; }

.media--large > .media-figure img {
  max-width: 100%;
  max-height: 100%; }

.media--valign.media--large > .media-figure img {
  /* 1 */
  max-width: none;
  /* 2 */
  width: 180px;
  /* 3 */ }

.media--medium > .media-figure {
  width: 140px; }

.media--medium > .media-figure img {
  max-width: 100%;
  max-height: 100%; }

.media--valign.media--medium > .media-figure img {
  /* 1 */
  max-width: none;
  /* 2 */
  width: 140px;
  /* 3 */ }

.media--small > .media-figure {
  width: 100px; }

.media--small > .media-figure img {
  max-width: 100%;
  max-height: 100%; }

.media--valign.media--small > .media-figure img {
  /* 1 */
  max-width: none;
  /* 2 */
  width: 100px;
  /* 3 */ }

/**
 * Media breaking point. Wrapped in one MQ for sanity.
 */
@media screen and (max-width: 33.75em) {
  .media {
    text-align: center; }
  /**
   * Standard media object resetting.
   *
   * 1. Resets the margin for normal and flipped.
   * 2. So we can center the image. Covers when using valign.
   */
  .media-figure,
  .media--flip > .media-figure {
    float: none;
    width: 100%;
    margin: auto 0 24px;
    /* 1 */ }
  .media-figure img,
  .media--valign .media-figure img {
    display: inline-block;
    /* 2 */ }
  /**
   * Vertical aligned media object resetting.
   *
   * 1. Reset setting table layout neccessary for vertical aligning.
   * 2. Resets text direction hack for flipped valign.
   * 3. Reset padding, valign uses padding rather than margin.
   */
  .media--valign,
  .media--valign > .media-figure,
  .media--valign > .media-body {
    display: block;
    /* 1 */ }
  .media--valign.media--flip,
  .media--valign > .media-figure.media--flip,
  .media--valign > .media-body.media--flip {
    direction: ltr;
    /* 2 */ }
  .media--valign > .media-figure,
  .media--valign.media--flip .media-figure {
    padding-right: 0;
    /* 3 */
    padding-left: 0;
    /* 3 */ } }

/* stylelint-disable declaration-colon-space-after */
/* stylelint-disable block-opening-brace-space-before*/
/**
 * Text transforms
 */
.u-textUpper {
  text-transform: uppercase !important; }

.u-textLower {
  text-transform: lowercase !important; }

.u-textCaps {
  text-transform: capitalize !important; }

/**
 * Font weights
 */
.u-textLight {
  font-weight: 300 !important; }

.u-textNormal {
  font-weight: 400 !important; }

.u-textBold {
  font-weight: 600 !important; }

/**
 * Text alignment
 */
.u-textLeft {
  text-align: left !important; }

.u-textCenter {
  text-align: center !important; }

.u-textRight {
  text-align: right !important; }

.u-textNoWrap {
  white-space: nowrap !important; }

/* stylelint-enable */
/**
 * Text truncation.
 *
 * Prevent text from wrapping onto multiple lines, and truncate with an
 * ellipsis.
 *
 * 1. Ensure that the node has a maximum width after which truncation can
 *    occur.
 * 2. Fix for IE 8/9 if `word-wrap: break-word` is in effect on ancestor
 *    nodes.
 */
.u-textTruncate {
  max-width: 100%;
  /* 1 */
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal !important;
  /* 2 */ }

/**
 * Display-type utilities
 */
.u-block {
  display: block !important; }

.u-hidden {
  display: none !important; }

/**
 * Completely remove from the flow but leave available to screen readers.
 */
.u-hiddenVisually {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; }

.u-inline {
  display: inline !important; }

/**
 * 1. Fix for Firefox bug: an image styled `max-width:100%` within an
 * inline-block will display at its default size, and not limit its width to
 * 100% of an ancestral container.
 */
.u-inlineBlock {
  display: inline-block !important;
  max-width: 100%;
  /* 1 */ }

.u-table {
  display: table !important; }

.u-tableCell {
  display: table-cell !important; }

.u-tableRow {
  display: table-row !important; }

/**
 * Clearfix
 */
.u-cf::after {
  clear: both;
  content: "";
  display: table; }

/**
 * Floats
 */
.u-floatLeft {
  float: left !important; }

.u-floatRight {
  float: right !important; }

.row {
  display: block;
  margin-bottom: 24px; }
  .row::after {
    clear: both;
    content: "";
    display: table; }

[class*="gw-"] {
  float: left;
  display: block; }
  [class*="gw-"]:last-child {
    margin-right: 0; }

[class*="gw-1"] {
  width: 5.71429%;
  margin-right: 2.85714%; }

[class*="gw-2"] {
  width: 14.28571%;
  margin-right: 2.85714%; }

[class*="gw-3"] {
  width: 22.85714%;
  margin-right: 2.85714%; }

[class*="gw-4"] {
  width: 31.42857%;
  margin-right: 2.85714%; }

[class*="gw-5"] {
  width: 40%;
  margin-right: 2.85714%; }

[class*="gw-6"] {
  width: 48.57143%;
  margin-right: 2.85714%; }

[class*="gw-7"] {
  width: 57.14286%;
  margin-right: 2.85714%; }

[class*="gw-8"] {
  width: 65.71429%;
  margin-right: 2.85714%; }

[class*="gw-9"] {
  width: 74.28571%;
  margin-right: 2.85714%; }

[class*="gw-10"] {
  width: 82.85714%;
  margin-right: 2.85714%; }

[class*="gw-11"] {
  width: 91.42857%;
  margin-right: 2.85714%; }

[class*="gw-12"] {
  width: 100%;
  margin-right: 2.85714%; }

@media screen and (max-width: 47.5em) {
  [class*="gw-"] {
    width: 100%;
    margin-right: 0;
    margin-bottom: 24px; }
    [class*="gw-"]:last-child {
      margin-bottom: 0; } }

.u-omega {
  margin-right: 0; }

/*# sourceMappingURL=app.css.map */
